@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background: url('../assets/temper-bg-mobile.svg') #f5f5f5 no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 780px) {
  body {
    background: url('../assets/temper-bg.svg') #f5f5f5 no-repeat;
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
